/* CUSTOM COLORS */
:root{
    --crt-green:#20C20E;
}

/* CUSTOM FONTS */
@font-face {
    font-family: 'Ubuntu-R';
    src: url('res/fonts/Ubuntu-R.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #000;
}
.crt-green{
    color:var(--crt-green);
    font-family:"Ubuntu-R";
}
.content{
    margin-left:1%
}
.container {
    margin-left: 1%;
    display: flex;
  }
  
  .column {
    flex: 1;              
  }

.footer{
    margin-left: 1%;
}
.text-input-invisible{
    border: none;         
    background: none;     
    outline: none;
    width: 80%;
    font: inherit;
}