body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #b5b8a8;
    color: #333;
}

header {
    background-color: #6e562a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}
.user-photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.social-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid #35424a;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #35424a;
    color: #ffffff;
}

footer p {
    margin: 0;
}